<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title></title>
  <script src="angular.min.js"></script>
  <script src="application.js"></script>
  <link rel="stylesheet" type="text/css" href="application.css">
  
</head>
<body>
  
<div ng-app="todo" ng-controller="page"> <a href="" ng-click="ui.current(1);">Tab 1</a>
 <a href="" ng-click="ui.current(2);">Tab 2</a>

    <hr/>
    <div ng-controller="tab1" ng-show="ui.isCurrent(1);">Tab 1
        <ul ng-repeat="item in list">
            <li ng-class="{ 'done': item.complete }">{{item.name}}</li>
        </ul>
    </div>
    <div ng-controller="tab2" ng-show="ui.isCurrent(2);">Tab 2
        <ul ng-repeat="item in list">
            <li ng-class="{ 'done': item.complete }">{{item.name}}</li>
        </ul>
    </div>
</div>

</body>
</html>
